wtforms
notion
oauth2client
google-api-python-client
cachetools==4.1.0
click==7.1.2
Flask==1.1.2
httplib2==0.17.3
Jinja2==3.0.0a1
markupsafe==2.0.0a1
idna==2.10
pyasn1==0.4.8
urllib3==1.25.9
werkzeug==1.0.1
gspread==3.6.0