{% extends "template.html" %}
{% block content %}
<script>
    var intervalID = setInterval(update_values, 1000);
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    function update_values() {
        $.getJSON($SCRIPT_ROOT + '/_stuff',

        function(data) {
            $('#status').text(data.result);
            if ($('#status').text() !== 'Make Magic') {
                $('#status').addClass('passive');
                console.log($('#status').text())
            }
        });
    };

    function stopTextColor() {
        clearInterval(intervalID);
    }
</script>

<div class="wrapper")>
    <div class="content">
        <div class="heading">
            <h1>Charts for Notion</h1>
            <h2>Generate embeddable charts — beautifully optimized for Notion.</h2>
            <div class="ctas">
                <a href="#form" class="button start">Create a Chart</a>
                <a href="https://www.notion.so/nuttlabs/Jellyfish-Inc-Digital-Strategy-Snapshot-d4295448c72b4056af9b06fa8ece36d4" class="button demo">View Demo</a>
            </div>
            <img src="../static/img/screenshot.png" alt="">
            <p>This is a small hobby project of mine I did with the <a href="https://github.com/jamalex/notion-py">unofficial Notion-API</a> and the google sheet chart tool
            <a href="https://www.notion.vip/charts/">Notionvip Charts</a>. Right now the API isn't capable of fetching values from formula and rollup columns. If you want to read more about this issues, it's already requested on GitHub
            <a href="https://github.com/jamalex/notion-py/issues/76">here</a>. I'm hoping to implement these as well one day, maybe if Notion releases it's official API.
            <br> Please note that it can take some time, depending on the size of your table, because the values first need to be transferred to google sheets which takes some seconds.
            </p>
        </div>
        <div class="form" id="form">
            <h1>Create your Chart</h1>
            <div class="data">
                <form action="#bottom" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="label">Notion token</div>
                    <div class="description">To get your Notion token you need to open your Notion in the browser. You need to be logged in. Then just hit <span class="code">F12</span> on your keyboard. In the new window you need to go to <span class="code">Application</span> in the menu bar. If you can't see it you nee to click the <span class="code">&#62;&#62;</span> to see all categories. In the Application tab go to Cookies and expand it. Click on <span class="code">https://www.notion.so</span>. In the list search for <span class="code">token_v2</span> and copy paste the value of it.</div>
                    {{ form.token }}
                    <p class="subtitle" style="display:none;">We've inserted the token you were using last time, to make it easier for you. If you don't want it, just delete it.</p>
                    <p class="token_holder" style="display:none">{{ token }}</p>
                    <script>
                        $( document ).ready(function() {
                            token = $('.token_holder').text();
                            if (token.length > 1 && token !== 'None') {
                                console.log(token)
                                $('#token').val(token);
                                $('.subtitle').css('display', 'block');
                            }
                        });
                    </script>
                    <div class="label">Notion Page</div>
                    <div class="description">Go to the Notion page that your table is in. Copy the link of it by clicking on <span class="code">Share</span> and then <span class="code">Copy link</span></div>
                    {{ form.pageurl }}
                    <div class="label">Notion Table</div>
                    <div class="description">Go to the Notion table that you want to use for the chart and copy it's link by clicking on the 6 dots besides it and click on <span class="code">Copy link</span></div>
                    {{ form.tableurl }}
                    <div class="chart">
                        <div class="type">
                            <div class="label">Chart type</div>
                            {{ form.chart_type }}
                        </div>
                        <div class="stack">
                            <div class="text bars">Stack your bars?</div>
                        {{ form.stacked }}
                        </div>
                    </div>
                    <div class="map" style="display: none">
                        <div class="label">Map Region</div>
                        <div class="description">Specify what part of the world you want to show on your map or rather the part of the world your data represents.</div>
                        {{ form.region }}
                        <div class="label">Map Resolution</div>
                        <div class="description">Set the level of detail on your map or rather the level of detail your data works with.</div>
                        {{ form.resolution }}
                    </div>
                    <script>
                    $('select').on('change', function() {
                        console.log( "changed" );
                        if ($('select[name=chart_type]').val() == 'bar' || $('select[name=chart_type]').val() == 'column') {
                            console.log("bar ausgewählt");
                            $('.stack').css("display", "block");
                            $('.map').css("display", "none");
                        } else if ($('select[name=chart_type]').val() == 'geo') {
                            $('.map').css("display", "block");
                            $('.stack').css("display", "none");
                        } else {
                            $('.map').css("display", "none");
                            $('.stack').css("display", "none");
                        }
                      });
                    </script>
                    <div class="label">Notion Theme</div>
                    {{ form.theme }}
                    <div class="label">Legend Position</div>
                    {{ form.legend_position }}
                    <div class="label">Custom Column</div>
                    <div class="description">You can insert the name of the columns that you want to use for data and all others will be ignored. If you want to see everything in the chart, just leave it blank. You can insert multiple columns, seperated by a <span class="code">;</span>.</div>
                    {{ form.customvalue }}
                    <div class="label">Custom Colors</div>
                    <div class="description">Insert as many custom colors as you want. They will be applied to the different columns. Format needs to be HEX. If you want to inserti multiple ones (they will get distributed over your different graphs) you can just separate them by a <span class="code">;</span>.</div>
                    <div class="colors">
                        {{ form.customcolor1 }}
                    </div>
                    <div class="label">Skip non numerical values?</div>
                    <div class="description">Recommended if you have many text fields in your data because notionvip will often get an error then. Titles are preserved and will stay.</div>
                    {{ form.skip_non_numerical_values }}
                  <button id="status" type="submit">Mage Magic</button>
                    <div class="description final">The chart created for you will be inserted in your Notion right beneath the corresponding table.</div>
                </form>
            </div>
        </div>
        <div id="bottom" class="success {{ success }}">
            <p class="false">{{ text }}</p>
            <img src="{{ source }}" alt="">
        </div>
        <script>
            document.getElementById("status").innerHTML;
            console.log(document.getElementById("status").innerHTML);
        </script>
    </div>
</div>
{% endblock content %}